__pycache__/
*.pyc
*.pth
*.pt
*.ckpt
*.h5
*.onnx
*.pkl
*.npy
*.npz
*.zip
*.tar
*.gz
*.7z

datasets/
dataset/
checkpoints/
checkpoints_label_smoothing/

metrics/
metrics_label_smoothing/

plots/
plots_label_smoothing/

generated_images/
two_stream_results/
two_stream_checkpoints/

wandb/
logs/

.env
.ipynb_checkpoints/

Miniconda3-latest-Linux-x86_64.sh
